<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <ul>
      <li>
        <a href="/">home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
    <h1>hello world!</h1>

    <!-- membuat variabel dengan tag express melalui ejs view engine -->
    <% const nama = "muqniansyah"; %>
    <!-- cara memanggil isi variabelnya -->
    <h2>Halo <%= nama %></h2>

    <!-- mengirim data sapaan ke file javascript / ejs.ejs -->
    <p><%= sapaan %> muqniansyah</p>

    <!-- menampilkan data mahasiswa -->
    <h4>Daftar Mahasiswa</h4>
    <!-- untuk cek jika data mahasiswa kosong -->
    <% if (mahasiswa.length < 1) { %>
    <p>Data mahasiswa masih kosong.</p>
    <% } else { %>
    <!-- melakukan pengulangan terhadap isinya -->
    <% mahasiswa.forEach(mhs => { %>
    <ul>
      <li>Nama : <%= mhs.nama %></li>
      <li>Email : <%= mhs.email %></li>
    </ul>
    <% }) %> <% } %>
  </body>
</html>
